[2018-05-10 01:41] altinselimi opened #1 "Mutating state not reflecting in content script without doing a reload"
Well, the title says it all. By the way, you did an amazing job with this plugin!

[2018-05-10 01:52] altinselimi opened #2 "Content state is not correct on the oldest opened tab"
Say if we open a tab and content script loads component, and then we open 4 new tabs. All of them are subscribed to same store, but the first of them is not synced correctly. The other 4 work perfectly.

[2018-05-12 10:17] altinselimi commented on #1
Fixed this by putting the initialization code on both content and background in a timeout (500ms).

[2018-05-29 03:13] MitsuhaKitsune commented on #1
Sorry for the delay, my old hard drive has broken down and now im reinstalling all stuff.

I gona try to reproduce this and check what it's falling here, I check your commit https://github.com/altinselimi/sticko/commit/3e634d91ffc4d21fec688421312e137258a35a89 but 4000ms are so much wait.

I think that I can get arround this the next days.

A lot of thanks for the report, I'm very happy to see that

[2018-05-29 03:16] MitsuhaKitsune commented on #2
Yes you are right, I forget check it on multiple tabs, I gona try to reproduce it and work arround this on next days.

What browser are you using for testing?

A lot of thanks for the report ^^

[2018-05-29 23:59] altinselimi commented on #1
Well it kind of initializes the store twice. I've found that this way, it works and keeps the state synced across tabs. Even though sometimes it fails do dispatch/commit actions/mutations. Its mostly a hack which I don't know how it works but it does.

[2018-05-30 00:00] altinselimi commented on #2
I am using Chrome v66.

[2018-06-25 04:39] MitsuhaKitsune commented on #1
I start to work on it, sorry for the delay, for now I simplify the initialization process on dev branch.

I expect solve both issues on the new release (1.0.0), but the initialization are diferent as you can see on the README file of dev branch.

The dev branch it's a "true plugin" of vuex, it's working for me without problems on Firefox, I gona check Chrome later.

[2018-06-25 13:55] MitsuhaKitsune commented on #1
Upgrade to 1.0.1 now the plugin are initialized with the store, this problem should be fixed with it, I try to reproduce the problem on this version but all are initialized without problems and without any workarround

[2018-06-25 14:01] MitsuhaKitsune commented on #2
Upgrade to 1.0.1 now the plugin are initialized with the store, this problem should be fixed with it.

Now I don't have syncing problems on Chrome, all tabs are working properly, I gona upload a example extension for testing these things.

If the problem it's solved please close the issue, if not tell me here.

P.D: With this version the plugin should be compatible with https://github.com/robinvdv

[2018-06-29 23:43] altinselimi commented on #2
You are the best, I will check this tomorrow and let you know!

[2018-07-26 15:26] KBoyarchuk opened #3 "Add some examples"
Please some add examples to work with popup page/content script/option page. There is a small misunderstanding of how to use Vuex in background script.

[2018-07-30 04:42] MitsuhaKitsune commented on #3
Yes sorry, the example are on my todo list, the plugin are relatively new and I can't finish all things at time, tomorrow I add a example webextension to the repository.

I'm working on webpage for extended documentation too, but first I gona try to solve #1 and #2 before the docs.

[2018-07-30 04:54] MitsuhaKitsune commented on #1
Webextensions and javascript are async for default, I fix the initialization on content scripts on e2a6450 but on my case I should still puting the delayed initialization because the store replication message through webext api have more delay than my initialize process, and on my initialization I getting the default states defined on store.

I gona try to inject a callback on the store object or

[2018-08-01 09:16] KBoyarchuk commented on #3
Still waiting for examples in repo.

[2018-08-01 10:16] MitsuhaKitsune commented on #3
A simple example was uploaded on 3aa1dbf, when I have more time I extend it more, but for now are enough to understand the use

[2018-08-01 10:16] #3 closed

[2018-08-06 15:53] KBoyarchuk opened #4 "Mutating state in popup page does not render without doing a reload"
When popup page is initialized, mutation Vuex state, render only after reload popup page. And if I delete line
` plugins: [VuexWebExtensions()]`
All work as expected

[2018-08-06 22:45] MitsuhaKitsune commented on #4
Can't reproduce this, I detect a mutation loop when we have more than 2 store instances that I gona solve now, but the value it's rended fine with the actions/mutations of popup page.

Check it:

![vuex-webext](https://user-images.githubusercontent.com/34917786/43744473-821f9a42-99da-11e8-90d2-17c9796ab910.gif)

As you can see the initial value of counter are 28, when I open the popup and start to

[2018-08-07 03:07] #4 closed

[2018-08-07 03:10] MitsuhaKitsune commented on #1
Finally the problem should be gone with 693ad08 (version 1.2.0 on npm), if not just tell to me and I reopen the issue

[2018-08-07 03:10] MitsuhaKitsune commented on #2
Finally the problem should be gone with 693ad08 (version 1.2.0 on npm) thanks to new connections pool, if not just tell to me and I reopen the issue

[2018-08-07 03:14] MitsuhaKitsune commented on #4
Crazy loop mutations solved on 693ad08 (version 1.2.0 on npm), the popup work as expected, I upload some more changes to example on b1b57b2, you can check how I handle store on popup here: https://github.com/MitsuhaKitsune/vuex-webextensions/blob/master/example/src/popup/App.vue

[2018-08-09 15:24] Stormsher opened #6 "Action background executing"
Hi, I have proposal to implement custom background-side execution of actions.

It will be rather useful, U can just call action in content and get it proceed (AJAX calls ?) on background side. It became to look like complete replacement of messaging bus between BG and other parts.

What U think of it? Or maybe U have better idea?

[2018-08-09 19:38] cedricium commented on #6
Are you proposing `vuex-webextensions` allows for background script mutations? If so, that'd be awesome and exactly what I need! 😄

[2018-08-13 01:16] shellvon opened #7 "Cannot read property 'xxx' of null when running for the first time"
when I configured `persistentStates` and use store in Background/Content Script.  This extension has some logic like this:

https://github.com/MitsuhaKitsune/vuex-webextensions/blob/bf7593475e2c798d79ffda3c86c3c60a55b133a3/src/backgroundScript.js#L13-L20

But if i run this method first, `this.browser.getPersistentStates()`  will be resolve an empty value `null`: Source code at:[src/browser.js#L86]

[2018-08-13 02:07] MitsuhaKitsune commented on #6
@Stormsher and @cedricium I don't know if I understand fine, but you can do all available actions on vuex on all webextensions contexts, you can commit mutations or actions from any part of your extension and get automatically synced with the other contexts.

In the example of the repository, you can see how I commit a mutation on background script:
https://github.com/MitsuhaKitsune/vuex-webextens

[2018-08-13 02:33] MitsuhaKitsune commented on #6
Well, now I think that I understand you want:

You have a action with only background available methods and you want call it from no background context and execute it on background script instead the content script context, I'm right?

[2018-08-13 02:36] #7 closed

[2018-08-13 02:38] MitsuhaKitsune commented on #7
Nice catch, I forget test it cleaning my previous localstorage data, https://github.com/MitsuhaKitsune/vuex-webextensions/commit/f07c56524464540846d4ee76a979804317e44324 should fix this, available on npm as v1.2.2

Thanks for the report and the investigation of the issue.

[2018-08-13 02:42] shellvon commented on #7
Thank you for responding so fast, I also updated the version to 1.2.2

[2018-08-13 07:50] Stormsher commented on #6
Yes, it can be rather useful, now state manager can take a part like an event bus, you don`t like it?

[2018-08-13 18:48] MitsuhaKitsune commented on #6
Yes, its usefull and I like it, just I need some time to plan how I can implement it, any ideas?

We need extend the store object and add a new method `backgroundAction` for example and implement another message type on extension messaging for this special actions, just I need check how I can extend a existing object to add the new method (I'm very new on node.js)

[2018-08-14 15:49] KBoyarchuk opened #8 "Race condition in contentScript.js"
In **contentScripts.js** file there may be a problem. When we first open the extension popup, function **sendMutation**  called before **onMessage** listener. In this case, when the data is written to the state, the **onMessage** handler is called with type **STORE_INITIAL_STATE** and the _replaceState_ method overwrites the data that was previous written to the state.

As example:

![extension](h

[2018-08-15 07:15] Stormsher commented on #6
Prototyping is antipattern :)

Prefixing actions is better solution...
adding smthing like '@BG_' before action name, and checking it in content plugin...

And it looks rather simple... what U think of it?

[2018-08-15 07:16] Stormsher commented on #8
Confirm that, I have similar issue with content script...

[2018-08-15 11:34] MitsuhaKitsune commented on #8
This is caused because the messaging api, it have a bit of delay, for now the workarround its delay a bit your initialization to let the plugin sync the state with the background store first and then commit your mutations.

To avoid this, I think on a "pending queue", before STORE_INITIAL_STATE queue all mutations and when the state are synced with the backgrond apply all of them.

How you see thi

[2018-08-15 11:37] MitsuhaKitsune commented on #6
Yes, I prefer your case :) seems simple and don't break the vuex patern.

I gona implement it after the fix of #8, today we get it i guess ^^

[2018-08-15 12:10] MitsuhaKitsune commented on #8
Should be fixed with https://github.com/MitsuhaKitsune/vuex-webextensions/commit/4387b5d02e394b721e1e3726fcfbe70d0df36dee, available on npm as v1.2.3, try it and give me feedback please

[2018-08-15 13:39] KBoyarchuk commented on #8
Create [PR](https://github.com/MitsuhaKitsune/vuex-webextensions/pull/9). Check it please.

[2018-08-15 14:28] MitsuhaKitsune commented on #6
I have all system, only one thing remain, the hook before action work perfect and the redirect to background context too, only need cancel the execution of the action in content script context to prevent errors with only background context methods

[2018-08-16 17:53] MitsuhaKitsune commented on #8
Finally fixed the initialization on content scripts? :)

[2018-08-16 18:33] KBoyarchuk commented on #8
Yeap. At the moment everything works stably.

[2018-08-20 07:48] Stormsher commented on #6
Really looking forward this feature..

[2018-08-20 14:47] KBoyarchuk opened #10 "Performance optimization"
In some cases, the plug-in greatly slow the extension performance. For example, if extension need to update array (with a large number of nested object as elements) in state every second (in my case I do it mounted hook with setInterval), I must call mutations every second. This leads to the fact that when store subscribe to the mutations in [backgroundScript](https://github.com/MitsuhaKitsune/vue

[2018-08-20 22:46] MitsuhaKitsune commented on #10
Yes, you are right, I try to avoid there the constant save on mutations but I get the opposite result with my logic, I remove the check part temporary, now the extension gona to save the persistent states on each mutation but should have better performance excluding the redundant read and check for now.

Available on npm as 1.2.5, and pending work on this thing to avoid the abuse of writes, probab

[2018-08-20 22:49] MitsuhaKitsune commented on #6
I can't apply it with prefixed action names because the vuex api don't allow to cancel action.

Now I gona try using a new method for background dispatches, for now are the unic solution that I can provide :/

[2018-08-21 12:00] KBoyarchuk commented on #10
The documentation for [storage API](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/storage) specifies that:

So we can store in storage any data structure that can be **JSON-ifiable** In my case, very high performance gains, when I save my data without use **JSON.stringify**

[code]

<img width="1440" alt="2018-08-21 14 58 14" src="https://user-images.githubusercontent.

[2018-08-21 12:30] MitsuhaKitsune commented on #10
Ok let me try then again, when I try to store object it dont work, but I gona test again

[2018-08-21 19:45] MitsuhaKitsune commented on #10
Yes, it's possible use a array or object without string conversion and have remarkable performance difference against the stringify method

[2018-08-21 20:10] MitsuhaKitsune commented on #10
Solved on https://github.com/MitsuhaKitsune/vuex-webextensions/commit/fe0d38e5735b012a3ec928de7aead33371259b2b

[2018-08-21 20:10] #10 closed

[2018-08-23 12:29] KBoyarchuk opened #11 "Store state properties save in background script context"
In the example that is attached to the repository, if remove from the list of properties "counter" (as example)

[code]

and reopen popup page (preliminary having increased value of a variable "counter"), we will see that the value remains unchanged. Whether it is possible to initializes again all the values that are not in the "persistentStates" array, when reopen popup / content_script ?

[2018-08-28 07:42] Stormsher commented on #6
Any progress?

[2018-08-28 09:35] MitsuhaKitsune commented on #6
My hard disk crash again the last week, I'm waiting for the new through RMA, sorry for the delay and apologies

[2018-08-28 09:48] MitsuhaKitsune commented on #11
I'm not sure if I understand fine, the persistent states should be filtered by the background script handling based on your config, the filter are on https://github.com/MitsuhaKitsune/vuex-webextensions/blob/master/src/backgroundScript.js#L19

Can't test it now because my HDD crash on the last week, I'm waiting for the replacement to continue working

[2018-09-05 10:11] #11 closed

[2018-09-06 09:30] Aspedm opened #12 "Plugin work with namespace module?"
If work how usage this plugin?

[2018-09-06 10:08] #12 closed

[2018-09-06 17:09] MarZab opened #13 "Data in storage might break state and watchers when using `persistentStates`"
When watching data on a just installed plugin, an empty storage will be placed onto the state and thus break any watches or deep bindings.

I propose that storage is selectively placed over the state while keeping the original object structure.

https://github.com/MarZab/vuex-webextensions/commit/6c7c9653f751faa2aafbc45ee737f26248267ea6

[2018-09-26 08:04] #6 closed

[2018-09-28 11:10] mauri870 opened #14 "Problem with vue-router-sync"
When I tried to use this plugin along with vue-router-sync, the following error occur during route transitions:

[code]

[2018-09-28 14:38] Stormsher commented on #14
It`s a bad idea too use this modules together.
Extension messaging protocol can pass only structures that can be easily converted with JSON.stringify

You object contains recursion( you cannot do anything with it

[2018-09-28 16:33] mauri870 commented on #14
Hmmm, interesting. Do you you have a solution in mind? Maybe only save the route path instead of the whole object like vue-router-sync does :confused:

[2018-10-01 00:06] Stormsher commented on #14
I spend a lot of time to find out solutions for other lib... No chance to pass complexive objects via messaging...

Yeah for sure U can store only router name in store, it should works.

[2018-10-02 14:01] mauri870 commented on #14
In order to solve this issue I created this package: https://github.com/mauri870/vuex-router-sync-fullpath

Instead of saving the whole route object(including the `to` and `from` cyclic objects) it only saves the current fullPath.

[2018-10-02 14:01] #14 closed

[2018-10-03 14:29] KBoyarchuk opened #15 "Destructuring options not implemented correctly"
In file index.js the [options](https://github.com/MitsuhaKitsune/vuex-webextensions/blob/fe0d38e5735b012a3ec928de7aead33371259b2b/src/index.js#L16) parameter takes the wrong value by merging **defaultOptions** and **opt**. For example for an object with such a structure:

[code]
The parameter **options** takes the wrong value in accordance with the functionality of the plugin:

[code]
This happens

[2018-10-04 13:44] #15 closed

[2018-10-29 14:32] MarZab commented on #13
Having worked with this for a while now, I've figured out just using a setter to make the inital load works better.

https://github.com/MarZab/vuex-webextensions/commit/ebaaa6cf3e95a52e0adc452fce503c1ce1157cfc

[code]

[2019-01-05 07:02] Kocal opened #17 "How can I pass an ES6 Class/Prototype from Background to Popup?"
Hey! I finally have some time to use this Vuex plugin on a real project! :)

I think my problem is due to serialization/unserialization (JSON?) of my store state.

Given my store is:
[code]

When I use it in `background`, `store.getters.firstChannel` is an instance of `Channel` class.
But when I use it in my popup page inside a Vue component, `this.$store.getters.firstChannel` (or `mapGetters(['fi

[2019-01-05 08:07] Kocal commented on #17
Okay so I found a workaround, it's not really pretty but it works.

I'm using a computed property that use a store's getter, and set prototypes on the fly.

In my case, I do this:

[code]

[2019-03-18 00:57] MitsuhaKitsune commented on #13
Hello @MarZab,

In first place a lot of thanks ^^ and sorry for the delay, I'm passing on a very busy season and I can't answer before.

If I understand fine, the watchers didn't work when the module restore the persistent states from localstorage, this is strange because I'm using watchers to send messages to the another contexts.

I gona try to reproduce the issue and test your changes, the deep

[2019-03-18 01:07] MitsuhaKitsune commented on #17
Hey @Kocal, nice to see you here ^^

In first place thanks for the report and sorry for the delay, I'm passing on a very busy season and I can't answer before.

It's the first time that I see a Vuex state storing a class instance, so I can't help so much before mount this enviroment and test it.

The thing are amazing, didn't know that this are possible before, I think that the problem are on the

[2019-03-18 07:36] Kocal commented on #17
Hey, don't worry, it can happen to anyone :)

Yes I'm regularly using _classes_ a DTO because I can implement some useful methods on them.

And since I need to keep my objects synchronized between the background part and the popup part, I have to store them in Vuex (alongside your plugin :stuck_out_tongue:)

I didn't checked the plugin source code, but I suppose you serialize data with `JSON.strin

[2019-03-18 07:43] Kocal commented on #17
Or maybe we can manually register prototypes:

[code]

Before serializing:
  - we recursively iterate on the state to find objects that have a prototype different from `Object`
  - in this object, we store the name of the prototype under a private property, something like: `$__PROTOTYPE_NAME__$` (to be sure that will never conflict with the user's classes)

After unserializing:
  - we recursively

[2019-03-22 14:46] mchusovlianov opened #20 "persistentStates doesn't work when backround back from dormant state"
Hi! I found today a weird thing. persistenStates works correctly  when I restart browsers or reload extension. But it doesn't work when extension (non-persistent) move to the dormant state and back.

[2019-03-23 19:38] MitsuhaKitsune commented on #17
Hi again @Kocal, after some days researching for this, can't offer any solution for now.

I don't apply any serialization (the browser do it automatically), I try some things, only one work but it's so dangerous.

The unic way that I found to restore class automatically with the plugin, it's jsonify the class methods as plain text, restore it with eval and then restore the values, it is the only t

[2019-03-23 19:42] MitsuhaKitsune commented on #20
Hi @mchusovlianov, it's the first time that I read the "dormant state" feature.

As I know, the background scripts are running on a background thread of the browser on the browser startup, how you put the extension in a dormant state and restore it?

[2019-03-23 20:12] Kocal commented on #17
Hi 👋

Ah yes, I forgot that you use `sendMessage()` method that automatically serialize data.

And what about https://github.com/MitsuhaKitsune/vuex-webextensions/issues/17#issuecomment-473802209?

[2019-03-23 21:00] MitsuhaKitsune commented on #17
This can be working I guess, it need a optional extra initialization and a serializer class to compare data structure of specified classes and assign his prototype, but can work I guess.

I gona prepare and test this think and I come here with the feedback and the feature if it works.

[2019-03-24 06:54] mchusovlianov commented on #20
Oh, maybe I used the wrong term. So I run background script in non-persistent mode (https://developer.chrome.com/extensions/background_pages#manifest). When chrome detect that popup is closed, all ports are disconnected chrome just unload extension (move to the dormant state, I still use this term as it uses in the chrome doc). When I do any action (like open popup) and chrome runs background scri

[2019-03-24 14:58] MitsuhaKitsune commented on #20
Ah ok, it's a Chrome feature, I'm always use and develop on Firefox, this is the reason because I don't understand you fine.

Well, as I can see on the docs, Chrome have a listeners to handle this "dormant state" (chrome.runtime.onSuspend.addListener) so I think that I can provide a solution for this mode.

Just need some time to prepare it, because not only I should retain the data, the sockets s

[2019-03-25 04:00] mchusovlianov commented on #20
Great! Thanks a lot!

[2019-04-04 02:24] mchusovlianov commented on #20
Hi, @MitsuhaKitsune! Any luck with this task?

[2019-04-10 07:43] mchusovlianov commented on #20
Hi, @MitsuhaKitsune! Is there anything I can help you?

[2019-04-18 10:54] mchusovlianov commented on #20
@MitsuhaKitsune  Is there any news regarding the update? Also, if there is any way I can help with it, I'll be happy to.

[2019-04-27 13:41] mchusovlianov commented on #20
Hi, @MitsuhaKitsune ! There is a bit different issue. The source of this issue is defined global.browser object. We use https://github.com/mozilla/webextension-polyfill and vuex-webextensions detects browser as the firefox but we run it in the chrome.

[2019-05-03 04:24] k1nghat commented on #20
@mchusovlianov so if you are using `webextension-polyfill` and the browser extension background script persistence is `false` and you load in chrome the state is cleared?

[2019-05-18 05:04] k1nghat commented on #20
can confirm the same issue with the background scripts persistent set to false:
![Peek 2019-05-18 00-00](https://user-images.githubusercontent.com/16073360/57964771-71ef9b80-7900-11e9-9785-28621e51b15d.gif)

[2019-05-18 05:31] mchusovlianov commented on #20
@k1nghat I found the source of this issue. Sometimes connection from popup.html set before state restored. In that case popup.html use initial state from store and doesn't receive the state from local store. I think there is should be @@STORE_INITIAL_STATE call after state restored. Something like this:
[code]

[2019-05-18 18:19] k1nghat commented on #20
@mchusovlianov are you going to make a PR? not sure when @MitsuhaKitsune will get to it, though.

[2019-05-19 15:40] MitsuhaKitsune commented on #20
@mchusovlianov @k1nghat I'm working today on this module, this feature doesn't take me a few hours I guess, then I publish a update to npm

[2019-05-20 16:37] KBoyarchuk commented on #20
Am I right, that **[STORE_INITIAL_STATE](https://github.com/MitsuhaKitsune/vuex-webextensions/blob/ae5fa088f5fd547856de173829fd2e260cbd7377/src/backgroundScript.js#L74)** use only for sync data when for first initialization of _content script_ or _popup page_ ?

As a solution, this code from [backgroundScript.js](https://github.com/MitsuhaKitsune/vuex-webextensions/blob/ae5fa088f5fd547856de173829f

[2019-05-20 16:52] MitsuhaKitsune commented on #20
The @@STORE_INITIAL_STATE it's sent on connection startup with the background, seems that exist some delay on reconnections when background script enter on suspend mode and the load of popup page are more fast than the connection initialization.

On reconnection time can't do anything, this delay it's present on all messaging of webextensions API, but im investigating why the values don't change o

[2019-05-20 17:14] KBoyarchuk commented on #20
I just wanted to say that before sending the first postMessage with **STORE_INITIAL_STATE** type need to call **browser.getPersistentStates()** (which I have indicated above) as callback.

[2019-05-20 17:28] KBoyarchuk commented on #17
What level of nested structure depth should be cloned ?

[2019-05-20 17:45] #20 closed

[2019-05-20 17:45] MitsuhaKitsune commented on #20
@KBoyarchuk Yes, you are right, the delay it's on getPersistentStates(), not on connections, I send a sync message after read of localstorage and solve this issue.

[2019-05-20 18:03] MitsuhaKitsune commented on #20
Fix available on new npm update (1.2.7), enjoy it ^^

[2019-05-24 23:40] Niklv opened #21 "Is there any way to be sure that store is loaded from storage?"
Is there any flag or promise that you can check to be ensure that state loaded from storage?

[2019-05-25 07:36] KBoyarchuk commented on #21
For what ? You can check update state with watching vuex state.

[2019-05-25 23:42] Niklv commented on #21
@KBoyarchuk Cause I want to be sure, that i fully initialize state from localstorage before I start use it.

For example:
I have jwt token in storage.
In background script i have API call that must be called ASAP after background script starts (it can be called with or without jwt).
If I use vuex `.watch` API ([doc](https://vuex.vuejs.org/ru/api/#watch)). It can be not called (In case when there a

[2019-05-26 00:18] MitsuhaKitsune commented on #21
No, there isn't a proc on localstorage initialization, maybe related with #13, he report that watchers don't work on persistent states, it occurs because im using the replaceState mehod of vuex api on initialization, probably this don't send any event that fire the watch method.

Well, the solution present on #13 require set setters to all objects on the state, it solve this problem but I didn't i

[2019-05-26 10:53] Niklv commented on #21
@MitsuhaKitsune Thank you for reply.

Workaround with `isLoaded` will not work. If it fresh install of extenstion, there are no data in localstorage. So `isLoaded` will not change in this case.

My workaround:
I remove all `persistentStates`. And load data from localstorage into state manualy. I also `subscribe` for mutations and update localstorage manually.

[2019-05-26 11:52] KBoyarchuk commented on #21
@MitsuhaKitsune This feature can't be implemented ?

[2019-06-08 15:54] KBoyarchuk opened #22 "How to test background script code ?"
I'm trying to tesing this plugin using Jest, Vue-Test-Utils. And I would like to know you can test specifically [backgroundScript.js](https://github.com/MitsuhaKitsune/vuex-webextensions/blob/master/src/backgroundScript.js) ?

[2019-07-10 16:29] tuantmtb opened #23 "How to set state non persistentStates"
Currently, store have "currentUrl" = windows.location.href
[code]

Currently, I open 2 tabs, state auto change value `urlCurrent`.
I want to state `urlCurrent` will not change when I open other tab.
How can I disable sync state: `urlCurrent `

Here is my `package.json`:
[code]

[2019-08-05 11:12] tuantmtb commented on #23
up

[2019-08-05 11:21] MitsuhaKitsune commented on #23
Sorry, didn't know why I not get notified the first time.

For now the extension didn't have the feature for no sync states, but it's a nice idea, when I come back to home I check it.

Greetings and thanks for the report.

[2019-08-05 11:55] tuantmtb commented on #23
Thank so much!
I think it is a awesome feature !
Hope you update very soon.

[2019-08-05 15:58] #23 closed

[2019-08-05 15:59] MitsuhaKitsune commented on #23
If I understand fine, the feature that you request are available on the recent uploaded version (1.2.8)

[2019-08-05 16:07] MitsuhaKitsune commented on #22
I'm sorry for this, but for now muy knowlements about unit testing are very low and only for simple tests.

But seems possible, because recently I recive a pull request about unit testing:
https://github.com/MitsuhaKitsune/vuex-webextensions/pull/18

Probably @blimmer can help you with the unit testing.

[2019-08-05 16:21] MitsuhaKitsune commented on #21
I should test a few things, but I trying to move the replaceState method to a global mutation that replace the whole state, this should fix both issues, but I should test first if I can inject the custom mutation to current store through plugin API and if I can replace the whole state on with single mutation.

[2019-08-05 20:41] #13 closed

[2019-08-05 20:42] #21 closed

[2019-08-05 20:44] MitsuhaKitsune commented on #21
Finally work with a little workarround, if you like to watch when the data are fully loaded just set a watcher for 'VWE_ReplaceState' mutation.

Sorry for the delay, I really do my best to find a proper solution for this.

[2019-08-05 20:49] MitsuhaKitsune commented on #13
@MarZab Finally I manage to fix this without set setters to all states.

I test watchers and seems working fine now, including when the extension send the first initialization of states, if you need proc code when data are fully loaded just set a watcher for 'VWE_ReplaceState' mutation.

Sorry for the delay, I really do my best to find a proper solution for this.

[2019-08-12 20:36] bbird1980 opened #24 "Store actions sync"
https://github.com/MitsuhaKitsune/vuex-webextensions/blob/eec51ff6652d497b010115a625dafdda9e4d4f85/src/backgroundScript.js#L35

Do you plan to implement this.store.subscribeAction?
I need to capture action invokation in popup via background's, but only mutations fired...

[code]

[2019-08-12 21:08] MitsuhaKitsune commented on #24
Yes sorry, I didn't implement it before because when I start the plugin vuex don't have this method implemented (it's a new API method of vuex 2.5.0).

I think that I can implement and relase this feature tomorrow.

A lot of thanks for the report, didn't know that this method are available on vuex.

[2019-08-17 22:49] KBoyarchuk commented on #22
@blimmer can you help plz to clarify this question ?

[2019-08-18 08:28] bbird1980 opened #25 "Usage of persistentStates with modules"
I have module "player" and one of state keys "volume" and want to persist only this key, to make this happens i updated utils.filterObject

[code]

now we can use path in keys:
`
VuexWebExtensions({
  persistentStates: ['player.volume']
})`

[2019-09-28 00:47] saveroo opened #26 "config to use localStorage instead ?"
i have this case where i used injected script rather than content script, and injected script doesn't have access to chrome APIs... since it's injected into the current web page of the tab.

it would be good if there's a config to change storage adapter, either to use localStorage or browser.storage.

[2019-09-29 18:44] #24 closed

[2019-09-29 18:45] MitsuhaKitsune commented on #24
Implemented on a508561, a lot of thanks for the sugestion ^^

[2019-09-29 18:46] MitsuhaKitsune commented on #22
To mantain a order on issue board i gona close this ticket, as note, I'm interested too on unit testing so if @blimmer can help are awesome.

[2019-09-29 18:46] #22 closed

[2019-09-29 18:54] MitsuhaKitsune commented on #26
For use localstorage instead webextensions messaging API exists some plugins like eduardnikolenko/vuex-storage-sync.

Implement more "drivers" on vuex-webextensions require a lot of time reworking the main part of the plugin.

Sorry if I can't help you with this, but existing plugins for localstorage, is only rebuild the wheel.

[2019-09-29 18:54] #26 closed

[2019-09-29 18:59] MitsuhaKitsune commented on #25
I gona check it now, on your hint you use lodash as dependency for get and set.

For reduce to max the risk of vulnerability on the plugin and his size too, I always try to avoid external dependencies, I gona try to fix it with my own methods first instead use lodash.

[2019-10-11 22:38] kinghat opened #27 "will this work with vuex-pathify?"
im just wondering if i can get this to work with [`vuex-pathify`](https://github.com/davestewart/vuex-pathify)? every time i use `vuex-pathify` to set state thats persisted it just replaces it with part of a `vuex-pathify` object.

ive tried debugging it but im not sure where it fails. here is an example `vuex-pathify` setup and how i would be using it: https://codesandbox.io/s/pathify-method-vers

[2019-10-31 18:45] kinghat opened #28 "state not set to localstorage on first load"
when you first load an extension the state is not set to local storage. when i load an extension for the first time i get this from the `background-script`:

[Verbose] Vuex WebExtensions: Listening for actions
[Debug] Vuex WebExtensions: No data found on localstorage for persistent states

this is from the `vuex-webextensions` example extension. if you make a mutation from `popup`/`content-script`

[2020-02-26 07:22] Culttm commented on #25
What about this feature? This one will be really useful while using modules in a store

[2020-03-06 03:50] Jewcub opened #29 "Not persisting. Store is reset every time extension icon is clicked"
Project is at https://github.com/IPFC/ipfc-extension

<img width="1220" alt="Screen Shot 2020-03-06 at 11 45 17 AM" src="https://user-images.githubusercontent.com/52448067/76048242-3497ef80-5fa0-11ea-8a11-5f1ba13fef50.png">

[code]

[2020-05-04 08:06] mrboomer commented on #28
Bump.

I see this issue happening, too. I may look into the source code here and see what's going on this week.

[2020-05-25 09:21] Rightusername opened #31 "Dont work in Firefox, after extension is reloaded"
Firefox version: 76.0.1
OS: windows 10 64-bit

[code]
...

After reloading extension or turn off/on, "storage" object is undefined
In Chrome and Edge it works fine

[2020-05-29 08:32] NetCZ opened #32 "Vuex 4 support"
Hi @MitsuhaKitsune,
thanks for the great plugin.

I'm trying to make it work with new version of Vuex and I'm getting following error:
`Initial state not sent: DataCloneError: The object could not be cloned.`

I believe problem lies in `state` object being wrapped with Proxy in new version, which cannot be handled by [structured clone algorithm](https://developer.mozilla.org/en-US/docs/Web/API/Web

[2020-07-16 08:21] quannetwork commented on #25
@MitsuhaKitsune Could you check this feature? I think this one is useful.

[2020-07-16 08:38] bbird1980 commented on #32
https://stackoverflow.com/questions/51096547/how-to-get-the-target-of-a-javascript-proxy

[2020-07-27 17:00] notjasonknott opened #35 "Can't get values from store in files that are not *.vue"
I'm trying to access `store.getters.user.token` to check if there is an active user state. If there is, I want to redirect the user to the app, but if there isn't then they need to log in.

routes.ts
[code]
In this context, `store.getters.user.token` is undefined because the `user` object looks like this:
[code]
Whereas, in any *.vue file, the `store.getters.user.token` reveals the token:

Home.vu

[2020-09-29 14:49] njgroene commented on #29
Is this still an open issue? Have you found a workaround @Jewcub?
I'm facing the same problem unfortunately and any nudge in the right direction would be appreciated!

[2020-11-28 03:45] rendomnet opened #39 "Is this repo dead? maintainer do not respond."
Is this repo dead? maintainer do not respond.
And if so, is there any up to date alternatives?

[2020-11-28 11:53] MitsuhaKitsune commented on #39
Isn't dead, just delayed because launch of other projects.

The repository still open to PR and issues and I have a pending commit for Vuex 4 support, I finish it after LeagueTails launch.

[2020-11-28 13:29] #39 closed

[2020-12-28 14:52] RomainLK commented on #31
I had to investigate this for my extension and I have found that the function `browser.storage.local.set` of Firefox doesn't work properly when giving the state of the store. I think it just doesn't support the proxy which Vue uses for the reactivity of its object. My solution was to modify the library and add a `JSON.stringify` followed by `JSON.parse`

browser.js:

[code]

[2021-01-23 08:27] mp3il opened #41 "Calling a vuex action in popup.js causing an infinite loop with a wrong commit payload"
Hey,

I'm trying to use this plugin in a chrome extension with a simple store:
[code]

When calling updateEnabledState I see an infinite loop:
https://i.imgur.com/DugX402.png

Using:
 vue@2.6.12
 vuex@3.6.0
vuex-webextensions@1.3.0

[2021-01-23 08:32] mp3il commented on #41
Is this related to the syncActions? when setting to false - looks like its working?

[2021-02-01 18:58] s1gmund80 commented on #28
I'm experiencing more or less the same issue. Even if i do not apply any change from the popup, but i use it to trigger a new store read from the background it works.
Didi you find anything on it?
It could be useful even a callback to be triggered on the background when the extension find the localstorage state to be loaded

[2021-03-31 07:35] jackkru69 opened #44 "support for vuex modules"
Will there be support for vuex modules?

[2021-05-22 11:40] rendomnet commented on #29
This project is abandoned.

[2021-08-04 20:31] MitsuhaKitsune commented on #44
Didn't should have any problem with modules, just don't forget to declare their in your main store file as it's explained on https://vuex.vuejs.org/guide/modules.html

[2021-08-04 20:31] #44 closed

[2021-08-04 20:54] MitsuhaKitsune commented on #35
The issue it's confusing, but I think that I understand fine.

You are using vuex-webextensions with persistent states in your config for auth things, but beforeEnter logic it's executed before localstorage data read.

Unafortunally, the local storage read are async and have a bit of delay on initialization, so you should wait for this initialization before do any action that require saved states

[2021-08-04 20:54] #35 closed

[2021-08-04 20:58] MitsuhaKitsune commented on #31
I should investigate it, on the past, I remove any extra serialization because Firefox handle it automatically and just do redundant steps decreasing the performance of the plugin.

[2021-08-04 21:01] MitsuhaKitsune commented on #32
Didn't check vuex 4 for now, I'm still using vuex 3 on my projects, so I need time to test with v4.

[2021-08-04 21:17] MitsuhaKitsune commented on #28
It's by design, I do that logic on purpose for performance, the plugin didn't write anything to localstorage if you didn't proc any mutation, because the default states are always loaded on store initialization from the store files and do a localstorage load/read are redundant, because the store states didn't change.

For now I gona close the issue because isn't it if I didnt missunderstand.

@kin

[2021-08-04 21:17] #28 closed

[2021-08-04 21:25] kinghat commented on #32
vuex 5 and pinia are also right around the corner.

[2021-08-04 21:30] bbird1980 commented on #32
Also manifest v3 is here and there is no background-pages? event-based worker only :(

[2021-08-04 21:43] MitsuhaKitsune commented on #32
@kinhat Yes, I admit that I have been absent for a long time. My extension project has been closed for a year and I no longer use this plugin in any of my projects, but I really want to keep it for all of you because of the support it has received to date.

I will check both versions, both v4 and v5 and offer support for them as soon as possible as soon as I find the problem and manage to develop

[2021-08-04 21:48] kinghat commented on #32
thanks for the update. i recently came across this and maybe it could be used to simplify part of the library or make it easier to bring up to date? https://github.com/antfu/webext-bridge

[2021-08-05 20:59] TCashion opened #54 "Version 1.3.1 does not have a default export"
Running an extension with version `1.3.1` produces the error `Uncaught TypeError: vuex_webextensions__WEBPACK_IMPORTED_MODULE_8___default(...) is not a function`.

If you go to [https://npm.runkit.com/vuex-webextensions](https://npm.runkit.com/vuex-webextensions), the output for the latest version is an empty object. If you change back to version `1.3.0` by changing line 4 to `var vuexWebextension

[2021-08-05 23:08] MitsuhaKitsune commented on #54
Merged and uploaded new version to npm v1.3.2, a lot of thanks again @TCashion ^^

[2021-08-05 23:08] #54 closed

[2021-08-05 23:11] MitsuhaKitsune commented on #41
Recently I found this bug on the new Vuex-v4 branch, I gona investigate it and notice you here when it get fixed on npm

[2021-08-05 23:14] MitsuhaKitsune commented on #32
Vuex 4 support (WIP) it's on new branch: https://github.com/MitsuhaKitsune/vuex-webextensions/tree/vuex-v4

When it's ready for production use I notice it here, probably I publish the compatible version with @next tag similar to vuex at this moment.

[2021-08-06 00:13] #25 closed

[2021-08-06 03:35] MitsuhaKitsune commented on #31
On my investigation, seems related with issue #29, I still debugging and trying to fix this, we continue this on issue #29

[2021-08-06 03:35] #31 closed

[2021-08-06 20:06] TCashion opened #57 "v1.3.2 npm build not working properly"
It seems the compiled code is still not quite working as expected. The specific bug I found was in the `vweReplaceState` mutation:

[code]

When debugging, I find that the `payload` object is passed through as a JSON string of the store object, so `payload[key]` resolves to `undefined`. Thus the content script store does not receive the proper values from the background script.

This only happens

[2021-08-06 21:14] MitsuhaKitsune commented on #57
Yes, on the past I use babel to compile the module, I switch to rollup to make dist more small and on a single file but as I can see it do a lot of problems on the builds, so I gona back to only babel and I investigate a better method to distribute builds with time.

Let me 10 minutes and v.1.3.3 are ready on npm.

I'm very sorry for all issues that you encounter, it's my first npm module, seems t

[2021-08-06 21:30] MitsuhaKitsune commented on #57
v1.3.3 now available on npm, I pray that this version work properly.

This is my bad because I use the example extension for test the module, but it use the module uncompiled importing it from src directory.

Now I have a enviroment to test from build dir, so I think that we don't gona see problems on builds I guess.

Im very sorry about that really, and a lot of thanks for all efforts that you pu

[2021-08-06 21:30] #57 closed

[2021-08-06 22:20] TCashion commented on #57
Great! After my first test, `1.3.3` seems to work well! I will keep you posted and thank you again for being so responsive!

[2021-08-07 02:22] MitsuhaKitsune commented on #57
Nice to hear that, I investigate the rollup issue on the future.

As I said, this is my first and npm package at this time, the objetive of the implementation of rollup are compress whole plugin into a unic file and reduce his size to max possible, to do that I follow one guide that I see on medium, but for some reason didn't work fine with this plugin.

Don't need to say thanks, I don't use this

[2021-12-05 09:28] guyschlider opened #59 "Any plans to support Manifest V3 Service workers?"

[2022-10-17 11:11] MathiasVie commented on #59
This is an outstanding repository - unfortunately, I am also struggling with the migration to manifest V3. Are there any plans to support manifest V3? Thanks!